<a href="https://colab.research.google.com/github/gkondayya/testGit/blob/master/python_complete_commands.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**This program contains important syntax and usage of Python languae features**

In [1]:
print("Hellow world")

Hellow world

**Variables**

In [8]:
myint =1
myfloat = 2.0
mystring = 'kondayya'
fullname = mystring + " " + "gundra"
print(fullname)
whatamI = myfloat+myint
print(type(whatamI))
isinstance(myint,int)  # = True/False: used to check whether variable 'myint' is of type 'int' or not

kondayya gundra
<class 'float'>

True

**Lists**

In [39]:
intlist = [1,2,3]
print('intlist', intlist)
stringlist = ['Kondayya', 'Devi', 'Bhavana', 'Sanju']
floatlist =[]
floatlist.append(1.0)
floatlist.append(2.0)
floatlist.append(3.0)
print('floatlist', floatlist)
mixedlist = [1,2.0,'kondayya']
print("mixedlist", mixedlist)

intlist [1, 2, 3]
floatlist [1.0, 2.0, 3.0]
mixedlist [1, 2.0, 'kondayya']

List operations

In [40]:

joinedlist = intlist + stringlist
print("joinedlist", joinedlist)

mylist = []
mylist.append(1)
mylist.append(5.0)
mylist.append("Kondayya")
print('Mylist', mylist)

[1, 2, 3, 1, 2, 3]
joinedlist [1, 2, 3, 'kondayya', 'Devi', 'Bhavana', 'Sanju']
Mylist [1, 5.0, 'Kondayya']

In [22]:
intlist2 = 2*intlist # intlist repeated twice
print('2*intlist', intlist2)

2*intlist [1, 2, 3, 1, 2, 3]

In [24]:
del intlist2[1] # 1st element of the list is deleted (IMP: list starts with 0th element)
intlist2

[1, 3, 1, 2, 3]

In [33]:
intlist2[0:] # print from 0th element till the last one (entire list)

[1, 3, 1, 2, 3]

In [29]:
intlist2[1:3] # print from 1st to 2nd element

[3, 1]

In [34]:
intlist2[:2] # print first 2 elements

[1, 3]

In [35]:
intlist2[-1] # last element in the list

3

In [36]:
intlist2[-2] # last but one

2

In [52]:
x =  object() # An object of empty class
y = object()
x_list = [x]*10 # List of empty objects
x_list.count(x)

<class 'object'>

10

**Basic operations**

In [55]:
# +,-,*,/ Usual meaning
#** (exponential, 3**2 = 9, 2**3 = 8 etc)
# % (reminder of division, eg., 9%2 = 1)
# // (floor division. eg., 9//2 = 4, -5/2 = 3, both cases rounded off towards -infinity )

-3

**String formating**

In [59]:
myname = "Kondyya Gundra"
print("My name is %s" %myname)

My name is Kondyya Gundra

In [60]:
myage = 45
print("My name is %s, my age is %d" %(myname,myage))

My name is Kondyya Gundra, my age is 45

In [74]:
data = ("Kondayya", "Gundra", 1942)
format_string = "Hello %s %s. Your current balance is Rs.%.2f."

print(format_string % data) # Ref. https://www.learnpython.org/en/String_Formatting



## %s - String (or any object with a string representation, like numbers)
## %d - Integers
## %f - Floating point numbers
## %.<number of digits>f - Floating point numbers with a fixed amount of digits to the right of the dot.
##%x/%X - Integers in hex representation (lowercase/uppercase) 

# Scientific format (exponential format)
x = 100200000000.000
print("x=%.3e" %x)

Hello Kondayya Gundra. Your current balance is Rs.1942.00.
x=1.002e+11